.hero {
  min-height: 720px;
  position: relative;
  overflow: hidden;
  height: 70vh;
  
  .hero-container {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
    
    .hero-content {
      h1 {
        font-size: 32px;
        font-weight: 700;
        color: #393939;
        margin: 0;
        
        [data-prefers-color="dark"] & {
          color: #E5E5E5;
        }
        
        &.main {
          background: linear-gradient(to right, #4BA4F7, #74E9CB, #D5B14E);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
        }
      }
      
      .hero-tips {
        margin-top: 20px!important;
        font-size: 16px;
        font-weight: 400;
        color: #999999;
        margin: 0;
        
        [data-prefers-color="dark"] & {
          color: #999999;
        }
      }
      
      .hero-buttons {
        margin-top: 40px;
      }
    }
    
    .hero-window-container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 600px;
      height: 460px;
    }
  }
}

.who-are-using {
  height: 554px;
  padding-top: 120px;
  padding-bottom: 120px;

  .who-are-using-container {
    margin: 0 auto;
    padding: 0 20px;
    height: 100%;
    overflow: hidden;
  }
  
  .logo-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    
    .logo-image-container {
      width: 128px;
      height: 128px;
      border-radius: 19.1%;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
      
      [data-prefers-color="dark"] & {
        box-shadow: 0 8px 24px rgba(255, 255, 255, 0.25);
      }
      
      .logo-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    
    .logo-name {
      font-size: 16px;
      font-weight: 400;
      color: #999999;
      
      [data-prefers-color="dark"] & {
        color: #999999;
      }
    }
  }
}