.hero {
  height: 720px;
  .hero-container {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .hero-content {
      h1 {
        font-size: 32px;
        font-weight: 700;
        color: #393939;
        margin: 0;
        &.main {

          background: linear-gradient(to right, #4BA4F7, #74E9CB, #D5B14E);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
        }
      }
      .hero-tips {
        margin-top: 20px!important;
        font-size: 16px;
        font-weight: 400;
        color: #999999;
        margin: 0;
      }
      .hero-buttons {
        margin-top: 40px;
      }
    }
  }
}


.who-is-using {
  height: 354px;
  padding-top: 60px;
  padding-bottom: 60px;

  .who-is-using-container {
    margin: 0 auto;
    padding: 0 20px;
    height: 100%;
  }
}
